<% layout("/layouts/boilerPlate")%>
<%- include("../includes/category.ejs")%>


<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3 mb-5 g-4">
  <% if(listings && listings.length > 0) { %>
    <% for(let list of listings) { %>
      <div class="col">
        <a href="/listing/<%= list._id %>" class="listing-card text-decoration-none">
          <div class="image-wrapper">
            <img src="<%= list.image.url %>" alt="listing image" />
          </div>
          <div class="listing-info">
            <h5 class="title"><%= list.title %></h5>
            <p class="price">&#8377;<%= list.price.toLocaleString("en-IN") %> <span>/night</span></p>
            <p class="taxInfo">+18% GST</p>
          </div>
        </a>
      </div>
    <% } %>
  <% } else { %>
    <div class="col-12 d-flex flex-column align-items-center mt-5">
      <h2>No listings found </h2>
      <a href="/listing" class="btn w-25 text-white btn-secondary mt-3">Show All</a>
    </div>
  <% } %>
</div>
